DATABASE_URL=<Database_URL>
SECRET_KEY=<Your_Secret_Key>

# PostgreSQL
POSTGRES_DB=<Postgres_DB>
POSTGRES_USER=<Postgres_User>
POSTGRES_PASSWORD=<Postgres_User_Password>
POSTGRES_HOST=<Postgres_Host>
POSTGRES_PORT=<Postgres_Port>
